# GLOBAL SUPERSTORE

In [12]:
import pandas as pd
import numpy as np

In [13]:
pd.set_option?

In [14]:
pd.set_option('display.min_rows',1000)
pd.set_option('display.max_columns',50)
pd.set_option('max_colwidth',100)

In [15]:
global_df=pd.read_csv('train.csv',encoding='latin1')

In [16]:
global_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters by Universal,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [18]:
global_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [19]:
global_df.describe()

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

In [ ]:
# converting columns 'order date' & 'ship date' to a datetime object

In [20]:
order_date=global_df['Order Date'].tolist()

In [21]:
ship_date=global_df['Ship Date'].tolist()

In [22]:
order_datetime=pd.to_datetime(order_date)
order_datetime

DatetimeIndex(['2017-08-11', '2017-08-11', '2017-12-06', '2016-11-10',
               '2016-11-10', '2015-09-06', '2015-09-06', '2015-09-06',
               '2015-09-06', '2015-09-06',
               ...
               '2018-03-27', '2015-05-21', '2015-05-21', '2015-05-21',
               '2015-05-21', '2017-05-21', '2016-12-01', '2016-12-01',
               '2016-12-01', '2016-12-01'],
              dtype='datetime64[ns]', length=9800, freq=None)

In [23]:
ship_datetime=pd.to_datetime(ship_date)

In [24]:
# Converting it into a Series Object

In [25]:
Order_date=pd.Series(order_datetime,name='Order_Date')
Ship_date=pd.Series(ship_datetime,name='Ship_Date')

In [26]:
global_df.columns.values

array(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales'], dtype=object)

In [27]:
# Drop Unwanted Columns

In [28]:
global_df.drop(columns=['Row ID','Order Date','Ship Date','Customer ID','Postal Code'],inplace=True)
global_df.head(n=2)

,Order ID,Ship Mode,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,CA-2017-152156,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,CA-2017-152156,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.94

In [29]:
global_data=pd.concat([global_df,Order_date,Ship_date],axis=1)
global_data.head(n=2)

,Order ID,Ship Mode,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Order_Date,Ship_Date
0,CA-2017-152156,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2017-08-11,2017-11-11
1,CA-2017-152156,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.94,2017-08-11,2017-11-11

In [30]:
global_data=global_data.reindex(columns=['Order ID', 'Order Date', 'Ship Date', 'Ship Mode','Customer Name', 'Segment', 'Country', 'City','State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales'])

In [31]:
global_data.head(n=2)

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,CA-2017-152156,NaN,NaN,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,NaN,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,CA-2017-152156,NaN,NaN,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,NaN,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.94

In [32]:
global_data['Sales'].astype(int)[:10]

0    261
1    731
2     14
3    957
4     22
5     48
6      7
7    907
8     18
9    114
Name: Sales, dtype: int32

# How many orders have cross the Sales of 500?

In [33]:
cond1=(global_data['Sales']>500.00)

In [34]:
Sales_g500=global_data[cond1]
Sales_g500[:5]

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
1,CA-2017-152156,NaN,NaN,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,NaN,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.9400
3,US-2016-108966,NaN,NaN,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,NaN,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
7,CA-2015-115812,NaN,NaN,Standard Class,Brosina Hoffman,Consumer,United States,Los Angeles,California,NaN,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520
10,CA-2015-115812,NaN,NaN,Standard Class,Brosina Hoffman,Consumer,United States,Los Angeles,California,NaN,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840
11,CA-2015-115812,NaN,NaN,Standard Class,Brosina Hoffman,Consumer,United States,Los Angeles,California,NaN,West,TEC-PH-10002033,Technology,Phones,Konftel 250 ConferenceÂ phoneÂ - Charcoal black,911.4240

In [35]:
Sales_g500.shape

(1146, 16)

# Number of segments,countries,city,state and region

In [36]:
global_data['Segment'].value_counts()

Consumer       5101
Corporate      2953
Home Office    1746
Name: Segment, dtype: int64

In [37]:
len(global_data['Country'].value_counts())

1

In [38]:
print(global_data['City'].value_counts())
print(len(global_data['City'].value_counts()))

New York City        891
Los Angeles          728
Philadelphia         532
San Francisco        500
Seattle              426
Houston              374
Chicago              308
Columbus             221
San Diego            170
Springfield          161
Dallas               156
Jacksonville         125
Detroit              115
Newark                92
Jackson               82
Columbia              81
Richmond              81
Aurora                68
Phoenix               63
Arlington             60
San Antonio           59
Miami                 56
Louisville            54
Rochester             53
Long Beach            52
Charlotte             51
Henderson             51
Lakewood              48
Lancaster             46
Denver                44
                    ...
Danbury                1
Arlington Heights      1
San Mateo              1
Norfolk                1
Montebello             1
Palatine               1
Romeoville             1
Atlantic City          1
Tinley Park            1
Billings               1
Redwood City           1
Pensacola              1
San Luis Obispo        1
Rochester Hills        1
Grand Island           1
Conway                 1
Rogers                 1
Champaign              1
Baytown                1
Ontario                1
Murrieta               1
Cedar Rapids           1
Hagerstown             1
Cheyenne               1
Rock Hill              1
La Quinta              1
Davis                  1
Iowa City              1
Vacaville              1
Orland Park            1
Name: City, Length: 529, dtype: int64
529

In [39]:
global_data['State'].value_counts()

California              1946
New York                1097
Texas                    973
Pennsylvania             582
Washington               504
Illinois                 483
Ohio                     454
Florida                  373
Michigan                 253
North Carolina           247
Virginia                 224
Arizona                  223
Tennessee                183
Colorado                 179
Georgia                  177
Kentucky                 137
Massachusetts            135
Indiana                  135
Oregon                   122
New Jersey               122
Wisconsin                105
Maryland                 105
Delaware                  93
Minnesota                 89
Connecticut               82
Missouri                  66
Oklahoma                  66
Alabama                   61
Arkansas                  60
Rhode Island              55
Mississippi               53
Utah                      53
South Carolina            42
Louisiana                 41
Nevada                    39
Nebraska                  38
New Mexico                37
New Hampshire             27
Iowa                      26
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: State, dtype: int64

In [40]:
global_data['Region'].value_counts()

West       3140
East       2785
Central    2277
South      1598
Name: Region, dtype: int64

# List of Order ID of Texas Customer bought things under category furniture where the sales is greater than 500

In [41]:
Texas_Sales=(global_data['State']=='Texas')&(global_data['Category']=='Furniture')& (global_data['Sales']>=500)
Texas_Sales_df=global_data[Texas_Sales]

In [42]:
Texas_Sales_IDs=Texas_Sales_df['Order ID'].tolist()
Texas_Sales_IDs[:20]

['CA-2016-117415',
 'US-2015-152030',
 'CA-2015-139892',
 'CA-2017-108987',
 'CA-2016-146563',
 'US-2015-141215',
 'CA-2016-139731',
 'CA-2017-152289',
 'CA-2015-101602',
 'CA-2017-159373',
 'US-2017-110170',
 'CA-2015-127446',
 'CA-2015-143903',
 'CA-2018-112529',
 'CA-2017-116799',
 'CA-2017-145730',
 'US-2017-131611',
 'US-2017-131611',
 'US-2018-133200',
 'CA-2015-159310']

# Number of people from the state 'Florida' bought stuffs under category 'Office Supplies'

In [43]:
cond_state=(global_data['Country']=='United States')&(global_data['Category']=='Office Supplies')
global_data_state=global_data[cond_state]

In [46]:
global_data_state[global_data_state['State']=='Florida'][:5]

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
4,US-2016-108966,NaN,NaN,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,NaN,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368
43,CA-2018-139619,NaN,NaN,Standard Class,Erin Smith,Corporate,United States,Melbourne,Florida,NaN,South,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome Metal Frame, Smoke Drawers",95.616
233,US-2018-100930,NaN,NaN,Standard Class,Christopher Schild,Home Office,United States,Tampa,Florida,NaN,South,OFF-BI-10001679,Office Supplies,Binders,GBC Instant Index System for Binding Systems,5.328
286,CA-2017-112697,NaN,NaN,Second Class,Alan Haines,Corporate,United States,Tamarac,Florida,NaN,South,OFF-BI-10000778,Office Supplies,Binders,GBC VeloBinder Electric Binding Machine,254.058
287,CA-2017-112697,NaN,NaN,Second Class,Alan Haines,Corporate,United States,Tamarac,Florida,NaN,South,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtout Fax/Phone Line Protection",194.528

In [47]:
len(global_data_state[global_data_state['State']=='Florida'])

222

# List of States where the Sales is greater than or equal to 500 respectively

In [48]:
global_data.describe()

       Order Date  Ship Date  Postal Code         Sales
count         0.0        0.0          0.0   9800.000000
mean          NaN        NaN          NaN    230.769059
std           NaN        NaN          NaN    626.651875
min           NaN        NaN          NaN      0.444000
25%           NaN        NaN          NaN     17.248000
50%           NaN        NaN          NaN     54.490000
75%           NaN        NaN          NaN    210.605000
max           NaN        NaN          NaN  22638.480000

In [49]:
cond1=(global_data['Sales']>=500)
global_data_state=global_data[cond1]

In [51]:
global_data_state[:5]

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
1,CA-2017-152156,NaN,NaN,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,NaN,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.9400
3,US-2016-108966,NaN,NaN,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,NaN,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
7,CA-2015-115812,NaN,NaN,Standard Class,Brosina Hoffman,Consumer,United States,Los Angeles,California,NaN,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520
10,CA-2015-115812,NaN,NaN,Standard Class,Brosina Hoffman,Consumer,United States,Los Angeles,California,NaN,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840
11,CA-2015-115812,NaN,NaN,Standard Class,Brosina Hoffman,Consumer,United States,Los Angeles,California,NaN,West,TEC-PH-10002033,Technology,Phones,Konftel 250 ConferenceÂ phoneÂ - Charcoal black,911.4240

In [52]:
global_data_state['State']

1             Kentucky
3              Florida
7           California
10          California
11          California
16           Wisconsin
24                Utah
27        Pennsylvania
35               Texas
38               Texas
54            New York
67             Arizona
72           Tennessee
117         Washington
124              Texas
125           Illinois
144           Missouri
145         California
149          Wisconsin
159           Oklahoma
165              Texas
167              Texas
182          Louisiana
189           New York
192           New York
215               Ohio
226           Michigan
232            Florida
235            Florida
244          Minnesota
             ...
9551      Pennsylvania
9565           Florida
9578          New York
9581          New York
9615        Washington
9617              Ohio
9635     Massachusetts
9637        Washington
9639    North Carolina
9649        California
9652        California
9658          New York
9660        California
9673      Pennsylvania
9680        California
9689          Virginia
9691             Texas
9703          Delaware
9712      Pennsylvania
9727     Massachusetts
9730        Washington
9732          Virginia
9734          Virginia
9741           Vermont
9748          Illinois
9759        California
9774             Texas
9781          New York
9787             Texas
9788             Texas
Name: State, Length: 1146, dtype: object

In [54]:
listOf_State=global_data_state['State'].drop_duplicates().tolist()
listOf_State

['Kentucky',
 'Florida',
 'California',
 'Wisconsin',
 'Utah',
 'Pennsylvania',
 'Texas',
 'New York',
 'Arizona',
 'Tennessee',
 'Washington',
 'Illinois',
 'Missouri',
 'Oklahoma',
 'Louisiana',
 'Ohio',
 'Michigan',
 'Minnesota',
 'New Jersey',
 'Georgia',
 'Connecticut',
 'Massachusetts',
 'Mississippi',
 'Colorado',
 'Montana',
 'Alabama',
 'North Carolina',
 'Virginia',
 'District of Columbia',
 'Arkansas',
 'Nevada',
 'Oregon',
 'Indiana',
 'Rhode Island',
 'South Carolina',
 'New Mexico',
 'Delaware',
 'Maryland',
 'Iowa',
 'New Hampshire',
 'Idaho',
 'North Dakota',
 'Vermont',
 'Nebraska',
 'Wyoming',
 'West Virginia']

# List os States where people bought stuff under the Category Technology

In [59]:
cond_state_tech=(global_data['Country']=='United States')&(global_data['Category']=='Technology')

In [63]:
American_States=global_data[cond_state_tech]
American_States

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
7,CA-2015-115812,NaN,NaN,Standard Class,Brosina Hoffman,Consumer,United States,Los Angeles,California,NaN,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152
11,CA-2015-115812,NaN,NaN,Standard Class,Brosina Hoffman,Consumer,United States,Los Angeles,California,NaN,West,TEC-PH-10002033,Technology,Phones,Konftel 250 ConferenceÂ phoneÂ - Charcoal black,911.424
19,CA-2015-143336,NaN,NaN,Second Class,Zuschuss Donatelli,Consumer,United States,San Francisco,California,NaN,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.480
26,CA-2017-121755,NaN,NaN,Second Class,Eric Hoffmann,Consumer,United States,Los Angeles,California,NaN,West,TEC-AC-10003027,Technology,Accessories,ImationÂ 8GB Mini TravelDrive USB 2.0Â Flash Drive,90.570
35,CA-2017-117590,NaN,NaN,First Class,Gene Hale,Corporate,United States,Richardson,Texas,NaN,Central,TEC-PH-10004977,Technology,Phones,GE 30524EE4,1097.544
40,CA-2016-117415,NaN,NaN,Standard Class,Steve Nguyen,Home Office,United States,Houston,Texas,NaN,Central,TEC-PH-10000486,Technology,Phones,Plantronics HL10 Handset Lifter,371.168
41,CA-2018-120999,NaN,NaN,Standard Class,Linda Cazamias,Corporate,United States,Naperville,Illinois,NaN,Central,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,147.168
44,CA-2017-118255,NaN,NaN,First Class,Odella Nelson,Corporate,United States,Eagan,Minnesota,NaN,Central,TEC-AC-10000171,Technology,Accessories,"Verbatim 25 GB 6x Blu-ray Single Layer Recordable Disc, 25/Pack",45.980
47,CA-2017-169194,NaN,NaN,Standard Class,Lena Hernandez,Consumer,United States,Dover,Delaware,NaN,East,TEC-AC-10002167,Technology,Accessories,ImationÂ 8gb Micro Traveldrive Usb 2.0Â Flash Drive,45.000
48,CA-2017-169194,NaN,NaN,Standard Class,Lena Hernandez,Consumer,United States,Dover,Delaware,NaN,East,TEC-PH-10003988,Technology,Phones,"LF Elite 3D Dazzle Designer Hard Case Cover, Lf Stylus Pen and Wiper For Apple Iphone 5c Mini Lite",21.800
54,CA-2017-105816,NaN,NaN,Standard Class,Janet Molinari,Corporate,United States,New York City,New York,NaN,East,TEC-PH-10002447,Technology,Phones,AT&T CL83451 4-Handset Telephone,1029.950
59,CA-2017-111682,NaN,NaN,First Class,Ted Butterfield,Consumer,United States,Troy,New York,NaN,East,TEC-AC-10002167,Technology,Accessories,ImationÂ 8gb Micro Traveldrive Usb 2.0Â Flash Drive,30.000
62,CA-2016-135545,NaN,NaN,Standard Class,Kunst Miller,Consumer,United States,Los Angeles,California,NaN,West,TEC-AC-10004633,Technology,Accessories,"Verbatim 25 GB 6x Blu-ray Single Layer Recordable Disc, 3/Pack",13.980
68,CA-2015-106376,NaN,NaN,Standard Class,Brendan Sweed,Corporate,United States,Gilbert,Arizona,NaN,West,TEC-PH-10002726,Technology,Phones,netTALK DUO VoIP Telephone Service,167.968
86,CA-2018-155558,NaN,NaN,Standard Class,Paul Gonzalez,Consumer,United States,Rochester,Minnesota,NaN,Central,TEC-AC-10001998,Technology,Accessories,LogitechÂ LS21 Speaker System - PC Multimedia - 2.1-CH - Wired,19.990
90,CA-2017-109806,NaN,NaN,Standard Class,Jim Sink,Corporate,United States,Los Angeles,California,NaN,West,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,73.584
100,CA-2017-158568,NaN,NaN,Standard Class,Rick Bensley,Home Office,United States,Chicago,Illinois,NaN,Central,TEC-AC-10001767,Technology,Accessories,SanDisk Ultra 64 GB MicroSDHC Class 10 Memory Card,95.976
103,US-2016-156867,NaN,NaN,Standard Class,Lena Cacioppo,Consumer,United States,Aurora,Colorado,NaN,West,TEC-AC-10001552,Technology,Accessories,Logitech K350 2.4Ghz Wireless Keyboard,238.896
106,CA-2018-119004,NaN,NaN,Standard Class,Janet Martin,Consumer,United States,Charlotte,North Carolina,NaN,South,TEC-AC-10003499,Technology,Accessories,Memorex Mini Travel Drive 8 GB USB 2.0 Flash Drive,74.112
107,CA-2018-119004,NaN,NaN,Standard Class,Janet Martin,Consumer,United States,Charlotte,North Carolina,NaN,South,TEC-PH-10002844,Technology,Phones,Speck Products Candyshell Flip Case,27.992
109,CA-2016-129476,NaN,NaN,Standard Class,Pete Armstrong,Home Office,United States,Orland Park,Illinois,NaN,Central,TEC-AC-10000844,Technology,Accessories,LogitechÂ Gaming G510s - Keyboard,339.960
123,CA-2017-103730,NaN,NaN,First Class,Steven Cartwright,Consumer,United States,Wilmington,Delaware,NaN,East,TEC-PH-10003875,Technology,Phones,KLD Oscar II Style Snap-on Ultra Thin Side Flip Synthetic Leather Cover Case for HTC One HTC M7,68.040
130,US-2018-164147,NaN,NaN,First Class,Dorothy Wardle,Corporate,United States,Columbus,Ohio,NaN,East,TEC-PH-10002293,Technology,Phones,Anker 36W 4-Port USB Wall Charger Travel Power Adapter for iPhone 5s 5c 5,59.970
147,CA-2017-114489,NaN,NaN,Standard Class,Justin Ellison,Corporate,United States,Franklin,Wisconsin,NaN,Central,TEC-PH-10000215,Technology,Phones,Plantronics CordlessÂ Phone HeadsetÂ with In-line Volume - M214C,384.450
148,CA-2017-114489,NaN,NaN,Standard Class,Justin Ellison,Corporate,United States,Franklin,Wisconsin,NaN,Central,TEC-PH-10001448,Technology,Phones,Anker Astro 15000mAh USB Portable Charger,149.970
152,CA-2017-158834,NaN,NaN,First Class,Tamara Willingham,Home Office,United States,Scottsdale,Arizona,NaN,West,TEC-PH-10001254,Technology,Phones,Jabra BIZ 2300 Duo QD Duo CordedÂ Headset,203.184
159,CA-2017-114104,NaN,NaN,Standard Class,Nora Paige,Consumer,United States,Edmond,Oklahoma,NaN,Central,TEC-PH-10004536,Technology,Phones,Avaya 5420 Digital phone,944.930
161,CA-2016-119697,NaN,NaN,Second Class,Eric Murdock,Consumer,United States,Philadelphia,Pennsylvania,NaN,East,TEC-AC-10003657,Technology,Accessories,Lenovo 17-Key USB Numeric Keypad,54.384
165,CA-2015-139892,NaN,NaN,Standard Class,Becky Martin,Consumer,United States,San Antonio,Texas,NaN,Central,TEC-MA-10000822,Technology,Machines,Lexmark MX611dhe Monochrome Laser Printer,8159.952
170,CA-2015-139892,NaN,NaN,Standard Class,Becky Martin,Consumer,United States,San Antonio,Texas,NaN,Central,TEC-PH-10003931,Technology,Phones,JBL Micro Wireless Portable Bluetooth Speaker,143.976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9648,CA-2015-150518,NaN,NaN,Standard Class,Mitch Webber,Consumer,United States,Coon Rapids,Minnesota,NaN,Central,TEC-PH-10002103,Technology,Phones,Jabra SPEAK 410,281.970
9653,CA-2018-161893,NaN,NaN,Standard Class,Harold Pawlan,Home Office,United States,Tucson,Arizona,NaN,West,TEC-AC-10001874,Technology,Accessories,Logitech Wireless Anywhere Mouse MX for PC and Mac,95.984
9660,CA-2017-160717,NaN,NaN,Standard Class,Maria Etezadi,Home Office,United States,Santa Barbara,California,NaN,West,TEC-PH-10001459,Technology,Phones,Samsung Galaxy Mega 6.3,3023.928
9661,CA-2017-160717,NaN,NaN,Standard Class,Maria Etezadi,Home Office,United States,Santa Barbara,California,NaN,West,TEC-AC-10002134,Technology,Accessories,Rosewill 107 Normal Keys USB Wired Standard Keyboard,26.960
9662,CA-2017-160717,NaN,NaN,Standard Class,Maria Etezadi,Home Office,United States,Santa Barbara,California,NaN,West,TEC-PH-10001760,Technology,Phones,Bose SoundLink Bluetooth Speaker,477.600
9671,US-2018-140312,NaN,NaN,Standard Class,Ken Lonsdale,Consumer,United States,Dublin,California,NaN,West,TEC-PH-10003442,Technology,Phones,Samsung Replacement EH64AVFWE Premium Headset,22.000
9673,CA-2017-114867,NaN,NaN,Standard Class,Frank Merwin,Home Office,United States,Philadelphia,Pennsylvania,NaN,East,TEC-PH-10002645,Technology,Phones,LG G2,1499.970
9680,CA-2016-130113,NaN,NaN,Standard Class,Aaron Hawkins,Corporate,United States,San Francisco,California,NaN,West,TEC-PH-10003505,Technology,Phones,Geemarc AmpliPOWER60,668.160
9685,CA-2018-118668,NaN,NaN,Second Class,Fred Wasserman,Corporate,United States,Los Angeles,California,NaN,West,TEC-AC-10000682,Technology,Accessories,Kensington K72356US Mouse-in-a-Box USB Desktop Mouse,16.590
9689,US-2018-135986,NaN,NaN,Standard Class,Paul Gonzalez,Consumer,United States,Richmond,Virginia,NaN,South,TEC-PH-10003691,Technology,Phones,BlackBerry Q10,503.960
9700,CA-2018-154116,NaN,NaN,Standard Class,Khloe Miller,Consumer,United States,Inglewood,California,NaN,West,TEC-PH-10000675,Technology,Phones,Panasonic KX TS3282B Corded phone,196.776
9713,CA-2015-114251,NaN,NaN,Standard Class,Maribeth Dona,Consumer,United States,Philadelphia,Pennsylvania,NaN,East,TEC-AC-10001101,Technology,Accessories,Sony 16GB Class 10 Micro SDHC R40 Memory Card,51.560
9714,CA-2015-114251,NaN,NaN,Standard Class,Maribeth Dona,Consumer,United States,Philadelphia,Pennsylvania,NaN,East,TEC-AC-10004864,Technology,Accessories,Memorex Micro Travel Drive 32 GB,58.416
9717,CA-2017-108210,NaN,NaN,Same Day,Annie Thurman,Consumer,United States,Houston,Texas,NaN,Central,TEC-PH-10002293,Technology,Phones,Anker 36W 4-Port USB Wall Charger Travel Power Adapter for iPhone 5s 5c 5,79.960
9718,CA-2017-108210,NaN,NaN,Same Day,Annie Thurman,Consumer,United States,Houston,Texas,NaN,Central,TEC-AC-10000109,Technology,Accessories,Sony Micro Vault Click 16 GB USB 2.0 Flash Drive,223.960
9722,CA-2017-105781,NaN,NaN,Standard Class,Jill Fjeld,Consumer,United States,New York City,New York,NaN,East,TEC-AC-10003628,Technology,Accessories,Logitech 910-002974 M325 Wireless Mouse for Web Scrolling,89.970
9725,CA-2018-142293,NaN,NaN,First Class,Shahid Collister,Consumer,United States,Boise,Idaho,NaN,West,TEC-AC-10001109,Technology,Accessories,Logitech Trackman Marble Mouse,89.970
9727,CA-2018-167395,NaN,NaN,First Class,Kunst Miller,Consumer,United States,Lowell,Massachusetts,NaN,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,979.950
9736,US-2016-100069,NaN,NaN,Standard Class,Neil FranzÃ¶sisch,Home Office,United States,Omaha,Nebraska,NaN,Central,TEC-PH-10004667,Technology,Phones,Cisco 8x8 Inc. 6753i IP Business Phone System,269.980
9749,CA-2017-158358,NaN,NaN,Standard Class,Eleni McCrary,Corporate,United States,Dover,New Hampshire,NaN,East,TEC-AC-10002567,Technology,Accessories,Logitech G602 Wireless Gaming Mouse,159.980
9757,CA-2018-113705,NaN,NaN,Second Class,Lena Cacioppo,Consumer,United States,Richmond,Virginia,NaN,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100
9761,CA-2015-121762,NaN,NaN,Standard Class,Marina Lichtenstein,Corporate,United States,Seattle,Washington,NaN,West,TEC-AC-10000736,Technology,Accessories,Logitech G600 MMO Gaming Mouse,239.970
9764,CA-2015-123855,NaN,NaN,Standard Class,Mick Crebagga,Consumer,United States,Los Angeles,California,NaN,West,TEC-PH-10000215,Technology,Phones,Plantronics CordlessÂ Phone HeadsetÂ with In-line Volume - M214C,139.800
9773,CA-2017-160234,NaN,NaN,Standard Class,Phillip Flathmann,Consumer,United States,Atlanta,Georgia,NaN,South,TEC-PH-10004434,Technology,Phones,Cisco IPÂ PhoneÂ 7961G VoIPÂ phoneÂ - Dark gray,135.950
9777,CA-2015-169019,NaN,NaN,Standard Class,Luke Foster,Consumer,United States,San Antonio,Texas,NaN,Central,TEC-AC-10002076,Technology,Accessories,Microsoft Natural Keyboard Elite,431.136
9780,CA-2017-153178,NaN,NaN,Standard Class,Clay Ludtke,Consumer,United States,Long Beach,New York,NaN,East,TEC-PH-10001944,Technology,Phones,Wi-Ex zBoost YX540 Cellular Phone Signal Booster,437.850
9789,CA-2018-144491,NaN,NaN,Standard Class,Caroline Jumper,Consumer,United States,Houston,Texas,NaN,Central,TEC-AC-10004901,Technology,Accessories,Kensington SlimBlade Notebook Wireless Mouse with Nano Receiver,39.992
9797,CA-2016-128608,NaN,NaN,Standard Class,Cindy Schnelling,Corporate,United States,Toledo,Ohio,NaN,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.188
9798,CA-2016-128608,NaN,NaN,Standard Class,Cindy Schnelling,Corporate,United States,Toledo,Ohio,NaN,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.376
9799,CA-2016-128608,NaN,NaN,Standard Class,Cindy Schnelling,Corporate,United States,Toledo,Ohio,NaN,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.384

In [65]:
American_States_Technology=American_States['State'].drop_duplicates().tolist()
American_States_Technology

['California',
 'Texas',
 'Illinois',
 'Minnesota',
 'Delaware',
 'New York',
 'Arizona',
 'Colorado',
 'North Carolina',
 'Ohio',
 'Wisconsin',
 'Oklahoma',
 'Pennsylvania',
 'Louisiana',
 'Michigan',
 'Florida',
 'Oregon',
 'Washington',
 'Missouri',
 'Montana',
 'Alabama',
 'Indiana',
 'Mississippi',
 'Virginia',
 'Iowa',
 'Nebraska',
 'New Jersey',
 'Kentucky',
 'New Hampshire',
 'New Mexico',
 'District of Columbia',
 'Georgia',
 'Arkansas',
 'Maryland',
 'Utah',
 'Massachusetts',
 'Nevada',
 'Connecticut',
 'Vermont',
 'Maine',
 'South Dakota',
 'Rhode Island',
 'South Carolina',
 'Kansas',
 'Tennessee',
 'Idaho']

In [66]:
len(American_States_Technology)

46

# Find the overall rank of California where the Sales is maximum under the category 'Technology'

In [67]:
print('Max Sales:',max(global_data['Sales']))
print('Min Sales:',min(global_data['Sales']))

Max Sales: 22638.48
Min Sales: 0.444

In [68]:
condition_top_states=(global_data['Sales']>0)&(global_data['Category']=='Technology')

In [69]:
global_states=global_data[condition_top_states]

In [70]:
global_states.shape

(1813, 16)

In [73]:
sorted_global_states=global_states.sort_values(by=['Sales'],ascending=False)

In [74]:
sorted_global_states.head(n=5)

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2697,CA-2015-145317,NaN,NaN,Standard Class,Sean Miller,Home Office,United States,Jacksonville,Florida,NaN,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferencing Unit,22638.480
6826,CA-2017-118689,NaN,NaN,Standard Class,Tamara Chand,Corporate,United States,Lafayette,Indiana,NaN,Central,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950
8153,CA-2018-140151,NaN,NaN,First Class,Raymond Buch,Consumer,United States,Seattle,Washington,NaN,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960
2623,CA-2018-127180,NaN,NaN,First Class,Tom Ashbrook,Home Office,United States,New York City,New York,NaN,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968
4190,CA-2018-166709,NaN,NaN,Standard Class,Hunter Lopez,Consumer,United States,Newark,Delaware,NaN,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970

In [75]:
sorted_global_states['State']

2697           Florida
6826           Indiana
8153        Washington
2623          New York
4190          Delaware
4277        New Jersey
8488          Virginia
6425      Pennsylvania
165              Texas
683     North Carolina
6626          New York
7666      Rhode Island
6340          New York
1085          New York
8990          Missouri
4218        California
8204          New York
2492          New York
7772              Ohio
9165        California
4297           Florida
6014        California
2182          New York
318           New York
7583          Virginia
7914          New York
3273        California
8100        California
251         California
1644        Washington
             ...
6983          Michigan
6410             Texas
9391          Illinois
7960        California
488              Texas
3571        Washington
3271        California
1183    North Carolina
2953           Arizona
8330          New York
3228           Arizona
7286          Oklahoma
349           New York
9001           Georgia
5713          New York
3618        California
3709             Texas
2522          Oklahoma
2293          New York
8726         Tennessee
9621              Ohio
7926          New York
1330              Ohio
3269      South Dakota
2779           Florida
9163          Illinois
7990         Wisconsin
9545           Indiana
7900         Tennessee
2761        California
Name: State, Length: 1813, dtype: object

In [76]:
listOf_States_Top_Sales=sorted_global_states['State'].drop_duplicates().tolist()
listOf_States_Top_Sales

['Florida',
 'Indiana',
 'Washington',
 'New York',
 'Delaware',
 'New Jersey',
 'Virginia',
 'Pennsylvania',
 'Texas',
 'North Carolina',
 'Rhode Island',
 'Missouri',
 'California',
 'Ohio',
 'Kentucky',
 'Michigan',
 'Alabama',
 'Georgia',
 'Montana',
 'Illinois',
 'Colorado',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'Tennessee',
 'Arizona',
 'Wisconsin',
 'Utah',
 'Oklahoma',
 'District of Columbia',
 'Vermont',
 'Maryland',
 'Massachusetts',
 'Arkansas',
 'Oregon',
 'Connecticut',
 'Mississippi',
 'Louisiana',
 'Minnesota',
 'South Carolina',
 'New Mexico',
 'Maine',
 'Iowa',
 'South Dakota',
 'Idaho',
 'Kansas']

In [77]:
#len(sorted_global_states.index)

In [78]:
ranked_data=sorted_global_states['State'].drop_duplicates().rank(ascending=False,method='average')
ranked_data

2697    38.0
6826    34.0
8153     2.0
2623    16.0
4190    40.0
4277    18.0
8488     3.0
6425    11.0
165      6.0
683     15.0
7666    10.0
8990    23.0
4218    43.0
7772    14.0
4093    31.0
977     26.0
1454    46.0
5562    37.0
515     22.0
3055    35.0
3011    42.0
5530    21.0
2418    20.0
7487    19.0
8699     7.0
2548    45.0
9513     1.0
7472     5.0
1830    13.0
1022    39.0
8798     4.0
3732    28.0
7697    27.0
2201    44.0
9331    12.0
2209    41.0
7977    24.0
5609    30.0
3494    25.0
4176     9.0
2416    17.0
2255    29.0
3522    33.0
2318     8.0
4193    36.0
3780    32.0
Name: State, dtype: float64

In [79]:
type(ranked_data)

pandas.core.series.Series

In [80]:
ranked_states=sorted_global_states['State'].drop_duplicates()

In [81]:
ranked_series=pd.concat([ranked_states,ranked_data],axis=1)
ranked_series

                     State  State
2697               Florida   38.0
6826               Indiana   34.0
8153            Washington    2.0
2623              New York   16.0
4190              Delaware   40.0
4277            New Jersey   18.0
8488              Virginia    3.0
6425          Pennsylvania   11.0
165                  Texas    6.0
683         North Carolina   15.0
7666          Rhode Island   10.0
8990              Missouri   23.0
4218            California   43.0
7772                  Ohio   14.0
4093              Kentucky   31.0
977               Michigan   26.0
1454               Alabama   46.0
5562               Georgia   37.0
515                Montana   22.0
3055              Illinois   35.0
3011              Colorado   42.0
5530              Nebraska   21.0
2418                Nevada   20.0
7487         New Hampshire   19.0
8699             Tennessee    7.0
2548               Arizona   45.0
9513             Wisconsin    1.0
7472                  Utah    5.0
1830              Oklahoma   13.0
1022  District of Columbia   39.0
8798               Vermont    4.0
3732              Maryland   28.0
7697         Massachusetts   27.0
2201              Arkansas   44.0
9331                Oregon   12.0
2209           Connecticut   41.0
7977           Mississippi   24.0
5609             Louisiana   30.0
3494             Minnesota   25.0
4176        South Carolina    9.0
2416            New Mexico   17.0
2255                 Maine   29.0
3522                  Iowa   33.0
2318          South Dakota    8.0
4193                 Idaho   36.0
3780                Kansas   32.0

# Displaying the data with min,max,average and std of 'Sales' for each Sub-Category under each Category

In [83]:
grouped_data=global_data.groupby(by=['State','Category','Sub-Category'],as_index=True)
grouped_data

In [84]:
#grouped_data[['Sale']].min()

In [85]:
functions=[('min_value','min'),('max_value','max'),('mean_value','mean'),('std_value','std')]

In [86]:
grouped_data['Sales'].agg(functions)

                                            min_value  max_value   mean_value  \
State         Category        Sub-Category
Alabama       Furniture       Chairs          141.960   1819.860   783.108000
                              Furnishings       8.960     21.360    13.493333
                              Tables          358.580   1215.920   792.153333
              Office Supplies Appliances      208.160    208.160   208.160000
                              Art               3.760    197.050    43.030000
                              Binders           7.160    152.760    46.682000
                              Envelopes         7.380     98.460    52.920000
                              Fasteners         3.620      3.620     3.620000
                              Labels           14.940    491.550   253.245000
                              Paper             4.980    629.100   110.377500
                              Storage          73.360    900.080   416.470000
                              Supplies          7.270    477.240   242.255000
              Technology      Accessories      25.980   1319.960   387.138333
                              Copiers         899.970    899.970   899.970000
                              Machines       3040.000   3040.000  3040.000000
                              Phones           44.950   1394.950   451.046667
Arizona       Furniture       Bookcases       127.764    209.979   173.071000
                              Chairs           47.968    933.536   406.192500
                              Furnishings       4.272    621.760   119.602286
                              Tables           35.445   1272.630   443.927778
              Office Supplies Appliances       30.144    325.632   129.072000
                              Art               1.408   1113.024   106.139077
                              Binders           2.025    946.764    62.438657
                              Envelopes         7.080    108.720    30.645714
                              Fasteners         2.368     49.792    16.872000
                              Labels            5.040     16.520     9.154667
                              Paper             6.368    419.400    78.734194
                              Storage          10.744    415.872   123.351619
                              Supplies         15.360    185.376    70.632000
              Technology      Accessories       7.160   1023.936   154.370909
...                                               ...        ...          ...
Washington    Office Supplies Art               2.780    303.840    31.289412
                              Binders           1.344   3266.376   211.117767
                              Envelopes        35.890    158.130    85.453333
                              Fasteners         2.960     93.360    17.546667
                              Labels            2.610    786.480    67.875882
                              Paper             4.980    440.190    56.249831
                              Storage          14.030   1247.640   273.384583
                              Supplies          7.300    238.620    53.704444
              Technology      Accessories      11.540   1687.800   285.267170
                              Copiers         299.990  13999.960  4049.966000
                              Machines         11.560   2395.200   866.593143
                              Phones            7.992   1091.168   260.044800
West Virginia Furniture       Tables          673.344    673.344   673.344000
              Office Supplies Binders           6.240     82.400    44.320000
                              Paper           447.840    447.840   447.840000
Wisconsin     Furniture       Bookcases       241.960   1565.880   645.660000
                              Chairs           90.990   2807.840  1008.308182
                              Furnishings       5.820    373.080    84.076364
                              Tables          214.110    653.550   433.830000
              Office Supplies Appliances       91.600   1089.750   387.224286
                              Art               3.040     57.750    22.827143
                              Binders           3.600    171.550    45.260769
                              Fasteners         1.810      1.810     1.810000
                              Labels            7.380     61.060    29.641667
                              Paper            22.720    629.100   171.480000
                              Storage          14.970    665.880   111.906667
                              Supplies         21.810     21.810    21.810000
              Technology      Accessories       1.980   1649.750   359.325385
                              Phones           12.990   1099.960   370.513000
Wyoming       Furniture       Chairs         1603.136   1603.136  1603.136000

                                              std_value
State         Category        Sub-Category
Alabama       Furniture       Chairs         671.542507
                              Furnishings      6.839103
                              Tables         428.754122
              Office Supplies Appliances            NaN
                              Art             68.318850
                              Binders         44.829781
                              Envelopes       64.403286
                              Fasteners             NaN
                              Labels         337.014163
                              Paper          211.978557
                              Storage        430.896365
                              Supplies       332.318974
              Technology      Accessories    488.713993
                              Copiers               NaN
                              Machines              NaN
                              Phones         586.143843
Arizona       Furniture       Bookcases       41.746065
                              Chairs         302.322452
                              Furnishings    146.220387
                              Tables         386.541157
              Office Supplies Appliances     106.364457
                              Art            303.960210
                              Binders        179.561673
                              Envelopes       36.776136
                              Fasteners       19.415511
                              Labels           6.393178
                              Paper          104.320217
                              Storage        120.718091
                              Supplies        77.653816
              Technology      Accessories    224.194833
...                                                 ...
Washington    Office Supplies Art             54.278856
                              Binders        576.684317
                              Envelopes       49.294018
                              Fasteners       21.801248
                              Labels         186.369753
                              Paper           75.024053
                              Storage        308.594986
                              Supplies        72.147087
              Technology      Accessories    385.028213
                              Copiers       5662.147605
                              Machines       755.602853
                              Phones         292.414732
West Virginia Furniture       Tables                NaN
              Office Supplies Binders         53.853252
                              Paper                 NaN
Wisconsin     Furniture       Bookcases      473.526927
                              Chairs         840.811608
                              Furnishings    108.458611
                              Tables         310.731004
              Office Supplies Appliances     336.341436
                              Art             20.962438
                              Binders         49.752670
                              Fasteners             NaN
                              Labels          18.176374
                              Paper          201.948373
                              Storage        208.942635
                              Supplies              NaN
              Technology      Accessories    479.394690
                              Phones         363.558934
Wyoming       Furniture       Chairs                NaN

[654 rows x 4 columns]